<div class="wrapper">
  <app-header></app-header>
  <app-sidebar></app-sidebar>
  <div class="content-wrapper">
    <app-breadcrumbs titulo="Agregar nueva categoria"></app-breadcrumbs>

    <section class="content">
      <div class="container">

        <div class="row text-right">
          <div class="col">
            <button class="btn btn-danger" routerLink="/admin/category">
              <i class="fa fa-arrow-left" aria-hidden="true"></i>
              Regresar
            </button>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="nombre">Nombre</label>
            <input [(ngModel)]="categoria.nombre" type="text" class="form-control" id="nombre">
          </div>
          <div class="form-group col-md-6">
            <label for="description">Descripción</label>
            <input [(ngModel)]="categoria.description" type="text" class="form-control" id="description">
          </div>
        </div>

        <button (click)="saveCategoria()" class="btn btn-primary">Guardar</button>
      </div>
    </section>
  </div>
  <app-footer></app-footer>
</div>
